.my_lab_cls {

}

.admin_cls {

}

.stu_profile {

}

.right_top {
    margin-top: 8px;
    border-radius: 5px;
}

.width-17 {
    width:17%!important;
}
.width-92 {
    width:92%!important;
}
.width-7 {
    width:7%!important;
}
.smaller-92 {
    font-size:92%!important
}

.bigger-132 {
    font-size:131%!important
}
.bigger-122 {
    font-size:122%!important
}
.my_blue {
    background-color: #478fca!important;
    border-color: white;
}