.right_top {
    margin-top: 8px;
    border-radius: 5px;
}

.width-15 {
    width:16%!important;
}

.smaller-92 {
    font-size:92%!important
}

.my_pointer {
    cursor: pointer;
}

.my_lab_cls {

}

.admin_cls {

}

.stu_profile {

}