<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="src.dao.AdminDAO">

    <select id="getEncodedPassword" resultType="java.lang.String" parameterType="java.lang.Long">
        select password from admin where id = #{id};
    </select>

    <insert id="addAdministrator" parameterType="src.model.Admin">
        insert into admin values (#{id}, #{password});
    </insert>

</mapper>