<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="src.dao.LabDAO">

    <!-- min -->
    <select id="getLabByLeaderId" parameterType="string"
            resultType="src.model.Laboratory">
        select id, name, leader_id, create_time from laboratory
        where leader_id = #{sid};
    </select>

    <select id="containsProject" resultType="java.lang.Integer">
        select count(1) from project
        where id = #{pid}
          and lab_name = (select name from laboratory where id = #{lid})
    </select>

    <select id="getLabById" parameterType="java.lang.Long"
            resultMap="labMap_full">
        select * from laboratory where id = #{id};
    </select>

    <select id="getAllLabs" resultMap="labListMap">
        select id, name, classroom, create_time, leader_id from laboratory;
    </select>

    <select id="getAllLabNames" resultType="string">
        select name from laboratory;
    </select>

    <insert id="insertLab" parameterType="src.model.Laboratory">
        insert into laboratory(name, classroom, description, leader_id)
        values (#{name}, #{classroom}, #{description}, #{leader_id});
    </insert>

    <update id="updateLab" parameterType="src.model.Laboratory">
        update laboratory set name = #{name}, classroom = #{classroom},
                              description = #{description}, leader_id = #{leader_id}
        where id = #{id};
    </update>

    <delete id="deleteLabById" parameterType="java.lang.Long">
        delete from laboratory
        where id = #{id};
    </delete>

    <select id="getMinStuForLab" resultType="src.model.Student" parameterType="string">
        select id, name from student
        where id = #{leader_id};
    </select>

    <resultMap id="labListMap" type="src.model.Laboratory">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="classroom" column="classroom"/>
        <result property="leader_id" column="leader_id"/>
        <result property="create_time" column="create_time"/>
        <result property="description" column="description"/>
        <association property="leader" column="leader_id" select="getMinStuForLab"/>
    </resultMap>

    <resultMap id="labMap_full" type="src.model.Laboratory">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="classroom" column="classroom"/>
        <result property="leader_id" column="leader_id"/>
        <result property="create_time" column="create_time"/>
        <result property="description" column="description"/>
        <association property="leader" column="leader_id" select="src.dao.StudentDAO.getStudentById"/>
    </resultMap>
</mapper>