<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="src.dao.StudentDAO">

    <insert id="insertStudent" parameterType="src.model.Student">
        insert into student(id, name, password, email) values (#{id}, #{name}, #{password},
                                                               #{email});
    </insert>

    <update id="updateStudent" parameterType="src.model.Student">
        update student set name = #{name}, phone = #{phone}, grade = #{grade},
                           college = #{college}, major = #{major}, introduce = #{introduce}
        where id = #{id};
    </update>

    <delete id="deleteStudent" parameterType="string">
        delete from student
        where id = #{id};
    </delete>

    <select id="getCount" resultType="java.lang.Integer">
        select count(1) from student;
    </select>

    <select id="getStudentById" parameterType="string" resultType="src.model.Student">
        select id, name, email, phone, grade, college, major, introduce, punish_end
        from student where id = #{id};
    </select>

    <select id="getMinStudentById" parameterType="string"
            resultType="src.model.Student">
        select id, name from student where id = #{id};
    </select>

    <select id="getAllSplit" resultType="src.model.Student"
            parameterType="src.model.assistance.PageRowsMap">
        select id, name, email, phone, grade, college, major, punish_end
        from student
        limit #{num} offset #{offset};
    </select>


    <select id="checkMailExisted" parameterType="string" resultType="java.lang.Integer">
        select count(1) from student where email = #{mail};
    </select>

    <select id="getEncodedPassword" resultType="java.lang.String" parameterType="string">
        select password from student where id = #{id};
    </select>

    <update id="updatePassword">
        update student set password = #{pass}
        where email = #{email};
    </update>

</mapper>